

<div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 wall whats_new_content">
  <div class="wall-column">
    <div class="wall-item">

         <div class="category cat_travel">
                   <div class="category_img">
                      <img src="content/images/category/fashion.jpg" class="img-responsive">
                      <div class="hover-content-cat">
                         <div class="cat-zoom-icon"><span class="fa fa-plus font-green"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus font-green"></span> </div>
                         <h4>By Gucci </h4>
                         <a href="javascript:void(0)"><button class="follow-btn follow">Follow brand</button><button class="follow-btn follow-hover" style="display:none;">Follow brand</button></button> <button class="follow-btn following" style="display:none;"><span><i class="fa fa-check"></i>
                         </span>Following</button><button class="follow-btn unfollow font-green"><span><i class="fa fa-times"> </i> </span>unfollow</button> </a>
                      </div> <!--/hover-content-cat -->
                   </div> <!--/category_img--> 
                   <div class="category_content">
                     <h1>Travel and Hotels
                       <div class="tooltip cat-follow-popup"> <div class="img-part"> <img src="content/images/follow-specs.jpg"></div>
                           <div class="follow-con">
                              <img src="content/images/icons/follow-arrow.png" class="arrow">
                              <h1 class="font-green">Travel and Hotels </h1> 
                              <div class="follow-status"> 
                                <a href="javascript:void(0)"><button class="follow">Follow category</button></a>
                                <a href="javascript:void(0)"><button class="follow-hover" style="diplay:none;">Follow category</button></a>
                                <a href="javascript:void(0)"><button class="following bg-green" style="diplay:none;"><span><i class="fa fa-check"></i></span>following</button></a>
                                <a href="javascript:void(0)"><button class="unfollow border-green font-green" style="diplay:none;"><span><i class="fa fa-times"> </i> </span>unfollow</button></a> 
                              </div>
                           </div>
                       </div> 
                       </h1> 
                     <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
                   </div> <!--/category_content-->
                   
                   <div class="category_options">
                        <table>
                         <tr>
                           <td class="date-status"><p>5 days ago </p> </td> 
                           <td class="crown-sectn "><span>5 </span> <span class="like-icon like-green"> </span> </td>
                           <td><span>5 </span> <span class="share-icon share-green"> </span> </td>
                           <td class="fwd-icon-sectn" id="fwd-id1"><span>5 </span> <span class="fwd-icon fwd-green"> </span> </td>
                        </tr>
                        </table>
                        <div class="fwd-social-icons sec7" style="display:none;">
                           <ul class="cat-follow-icons">
                              <li><a class="fb" href="javascript:void(0)" target="_blank"></a></li>
                              <li><a class="twitter" href="javascript:void(0)"></a></li>
                              <li><a class="insta" href="javascript:void(0)" target="_blank"></a></li>
                              <li class="show-more"><a class="more" href="javascript:void(0)"></a></li>
                            </ul>
                            <div class="hidden-more-icons" style="display:none;">
                              <ul class="follow-icons-more">
                                <li><a href="javascript:void(0)" class="linkdin"> </a> </li>
                                <li><a href="javascript:void(0)" class="gplus"> </a> </li>
                                <li><a href="javascript:void(0)" class="pini"> </a> </li>
                              </ul>
                            </div>
                       </div> <!--/inner forward icons social -->
                   </div> <!--/category_options-->
                      
         </div> <!--/category-->
    </div> <!--/wall-item -->
  </div> <!--/wall-column -->
</div>   <!--/whats_new_content --> 

<script src="content/js/jaliswall.js"></script>

<script>

$('.wall').jaliswall({item:'.wall-item'});
</script>     