
.main-slider .slider-sections {
  width:20%;
  float:left;
  
}
.header-collapse-btn {
  padding-left: 45px;
    padding-top: 2%;
}
.banner-img1-sectn2 img, .banner-img1-sectn4 img {
   
} 
.banner-img1-sectn2 , .banner-img1-sectn4 {

}
.banner-hover-con img {
  min-width: inherit;
}
.main-slider-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    clear: both;
    float: none;
  margin-top:20px;
  margin-bottom: 80px;
  }
 .carousel-indicators {
  bottom: -60px;
 } 
.main-slider-container .row {
  margin-left: 0px !important;
  margin-right: 0px !important;

}
.hover-content-cat {
  color: white;
  cursor: pointer;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 25%;
  width: 100%;
  opacity: 0;
  margin: 0 auto;  
}
.banner-hover-con {
    color: white;
    cursor: pointer;
    
    height: 100%;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 1.5;  /* transition: opacity .4s .5s ease; */
}
.banner-hover-con hr {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.banner-hover-con span {
  display: block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.category-slider .banner-img1-sectn2 .banner-hover-con, .category-slider .banner-img1-sectn4 .banner-hover-con {
  padding-top: 60%;
}
.category-slider .banner-img1-sectn1 .banner-hover-con {
  padding-top: 25%;
}
.banner-img1-sectn2 .banner-hover-con, .banner-img1-sectn4 .banner-hover-con {
   padding-top: 60%;
}
.banner-img1-sectn1 .banner-hover-con, .banner-img2-sectn1 .banner-hover-con, .banner-img2-sectn3 .banner-hover-con
, .banner-img1-sectn3 .banner-hover-con, .banner-img1-sectn5 .banner-hover-con, .banner-img2-sectn5 .banner-hover-con {
   padding-top: 25%;
}
.carousel-indicators li {
  border-radius: 0px !important;
  background-color: #c3c3c3;
  border: 0 none;
  margin-left: 10px;
  margin-right:10px;
  height:8px;
  width:8px;
}
.carousel-indicators .active {
  background-color:#b47b33;
  margin-left: 10px;
  margin-right: 10px;
  height:10px;
  width:10px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
  height: auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  max-height: 666px;
      background-color: #fff;
      height: auto;
}
.carousel-control.left, .carousel-control.right {
	background:none !important;

	}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  
}
/*.carousel-control.left, .carousel-control.right {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30px;
} */


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */


@media only screen and (max-width: 768px) {
.main-slider .slider-sections {
  width: 25%;
}
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (max-width: 500px) and (min-width: 350px) {
.carousel .item {
      max-height: 1000px;
}
.banner-images {
  max-height: 220px;
  max-width: 240px;
}
.banner-hover-con img {
  max-width: 80%;
}
.banner-hover-con {
  padding-top: 7% !important;
}
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  
}
@media only screen and (max-width: 500px) and (min-width: 350px) {
.carousel .item {
      max-height: 1000px;
}
}

