@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?3bh9jc');
    src:    url('../fonts/icomoon/icomoon.eot?3bh9jc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?3bh9jc') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?3bh9jc') format('woff'),
        url('../fonts/icomoon/icomoon.svg?3bh9jc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-Icons1-29:before {
    content: "\e951";
}
.icon-Icons1-30:before {
    content: "\e952";
}
.icon-Icons1-31:before {
    content: "\e953";
}
.icon-Icons1-32:before {
    content: "\e954";
}
.icon-automobiles:before {
    content: "\e94b";
}
.icon-fashion-lyf:before {
    content: "\e94c";
}
.icon-technology:before {
    content: "\e94d";
}
.icon-timepiece-jewellery:before {
    content: "\e94e";
}
.icon-travel-living:before {
    content: "\e94f";
}
.icon-wines-cigars:before {
    content: "\e950";
}
.icon-acoustics2:before {
    content: "\e92f";
}
.icon-art-design2:before {
    content: "\e930";
}
.icon-atv22:before {
    content: "\e931";
}
.icon-aviations2:before {
    content: "\e932";
}
.icon-best-elites2:before {
    content: "\e933";
}
.icon-boating2:before {
    content: "\e934";
}
.icon-cars22:before {
    content: "\e935";
}
.icon-cigars2:before {
    content: "\e936";
}
.icon-fashion-acc2:before {
    content: "\e937";
}
.icon-fine-dinning2:before {
    content: "\e938";
}
.icon-gadgets2:before {
    content: "\e939";
}
.icon-gaming2:before {
    content: "\e93a";
}
.icon-health2:before {
    content: "\e93b";
}
.icon-hotels-resorts2:before {
    content: "\e93c";
}
.icon-jwellery2:before {
    content: "\e93d";
}
.icon-laptop2:before {
    content: "\e93e";
}
.icon-mens-fashion2:before {
    content: "\e93f";
}
.icon-mobiles2:before {
    content: "\e940";
}
.icon-motorbikes2:before {
    content: "\e941";
}
.icon-realestate2:before {
    content: "\e942";
}
.icon-softwares2:before {
    content: "\e943";
}
.icon-spirits2:before {
    content: "\e944";
}
.icon-sports2:before {
    content: "\e945";
}
.icon-style-trends2:before {
    content: "\e946";
}
.icon-vacations2:before {
    content: "\e947";
}
.icon-watch2:before {
    content: "\e948";
}
.icon-wine2:before {
    content: "\e949";
}
.icon-women-fashion2:before {
    content: "\e94a";
}
.icon-atv2:before {
    content: "\e92a";
}
.icon-best-elites:before {
    content: "\e92b";
}
.icon-cars2:before {
    content: "\e92c";
}
.icon-fashion-acc:before {
    content: "\e92d";
}
.icon-software:before {
    content: "\e92e";
}
.icon-acoustics:before {
    content: "\e901";
}
.icon-art-design:before {
    content: "\e902";
}
.icon-atv:before {
    content: "\e909";
}
.icon-aviations:before {
    content: "\e90a";
}
.icon-boating:before {
    content: "\e90b";
}
.icon-cars:before {
    content: "\e90c";
}
.icon-cigars:before {
    content: "\e90d";
}
.icon-fine-dining:before {
    content: "\e90e";
}
.icon-gadgets:before {
    content: "\e90f";
}
.icon-gaming:before {
    content: "\e910";
}
.icon-globe:before {
    content: "\e911";
}
.icon-health:before {
    content: "\e912";
}
.icon-hotels-resort:before {
    content: "\e913";
}
.icon-jewellery:before {
    content: "\e914";
}
.icon-key:before {
    content: "\e915";
}
.icon-laptops:before {
    content: "\e916";
}
.icon-luxury:before {
    content: "\e917";
}
.icon-mens-fashion:before {
    content: "\e918";
}
.icon-mobile:before {
    content: "\e919";
}
.icon-motorcycles:before {
    content: "\e91a";
}
.icon-real-estate:before {
    content: "\e91b";
}
.icon-save-latr .path1:before {
    content: "\e91c";
    color: rgb(0, 0, 0);
}
.icon-save-latr .path2:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-slider-left-arrow:before {
    content: "\e91e";
}
.icon-slider-right-arrow:before {
    content: "\e91f";
}
.icon-spirits:before {
    content: "\e920";
}
.icon-sports:before {
    content: "\e921";
}
.icon-style-trends:before {
    content: "\e922";
}
.icon-sun:before {
    content: "\e923";
}
.icon-vacations:before {
    content: "\e924";
}
.icon-watch:before {
    content: "\e925";
}
.icon-wines:before {
    content: "\e926";
}
.icon-women-fashion:before {
    content: "\e927";
}
.icon-send:before {
    content: "\e908";
}
.icon-reply:before,.icon-reply-home:before {
    content: "\e907";
}
.icon-clock:before {
    content: "\e905";
}
.icon-monthly-calendar:before {
    content: "\e906";
}
.icon-chat:before {
    content: "\e900";
}
.icon-crown:before {
    content: "\e903";
}
.icon-sharing:before {
    content: "\e904";
}
.icon-link:before {
    content: "\e929";
}
.icon-cancel-circle:before {
    content: "\e928";
}
.border_blue {
	border: 2px solid #0082ca !important;
	}
.border-orange {
	border: 2px solid #f4732b !important;
	}
.border-purple {
	border: 2px solid #410099 !important;
	}
.border-green {
	border: 2px solid #7acd3e !important;
	}
.border-red {
	border: 2px solid #ff4539 !important;
	}
.bg-orange {
	background-color:#f4732b !important;
}	
.bg-green {
	background-color:#7acd3e !important;
}
.bg-blue {
	background-color:#0082ca !important;
}
.bg-purple {
	background-color:#410099 !important;
}
.bg-red {
	background-color: #ff4539 !important;
}	
.font-orange {
	color: #f4732b !important;
	}
.font-green {
	color: #7acd3e !important;
	}
.font-blue {
	color: #0082ca !important;
	}
.font-purple {
	color: #410099 !important;
	}	
.font-red {
	color: #ff4539 !important;
	}

									
				
.cat_travel, .cat_travel:hover, .cat_hotel, .cat_hotel:hover {
   color: #7acd3e;
   background-color: #7acd3e;
}	
.cat_auto, .cat_auto:hover {
   color: #ff4539;
   background-color: #ff4539;
}	
.cat_fashion, .cat_fashion:hover {
   color: #f4732b;
   background-color: #f4732b;
}
.cat_tech, .cat_tech:hover {
   color: #410099;
   background-color: #410099;
}
.cat_real_estate, .cat_real_estate:hover, .cat_liquor, .cat_liquor:hover {
   color: #0082ca;
   background-color: #0082ca;
}
.cat_jwellery,.cat_jwellery:hover  {
  color: #ff69b4;
  background-color:#ff69b4;
}