body {
  padding-top: 50px;
}

nav a {
  padding-bottom: 20px !important;
  font-size: 18px;
}
nav {
  transition: padding .2s;
  position: fixed;
  top: 0;
  height: 100px;
  left: 0; width: 100%;
}
.header-collapse-btn a {
  display: inline-block;
  overflow: hidden;
  width: 30px;
}
.main-logo a {
  display: inline-block;
  width: auto;
  overflow: hidden;
}
.navbar-right .signin-popup-btn img,.navbar-right .settings-popup-btn img {
  border-radius: 50%;
  max-width: 40px;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
span.text-content span, .tab-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.tab-cell {
    display: table-cell;
    float: none;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.tab {
  display: table;
  height: 100%;
  width: 100%;
}
ul.submenu li {
  display: inline-block;
  cursor: pointer;
}
.main-menu ul li a:hover + ul.submenu {
  display: block;
}
.navbar-right ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  float: right;
}
.navbar-right ul li {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-brand {
  font-size: 30px;
}
/* sign in header styling*/
.signinvia, .settings-con {
    padding-top: 10%;
}
.signinvia ul {
  margin: 0 auto;
  max-width: 325px;
  min-width: 250px;
  padding: 0;
  float: none;
}
.mySelect {
    padding: .2em 0;
    font-size: 1em;
    right: 0;
}
.invite-request ul {
  max-width: 800px;
}
.invite-request ul li {
  width: 48%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.myprofile {
  color: #fff;
}
.signin-popup a.close {
    right: 0 !important;
    left: initial;
}
.myprofile img {
  margin-bottom: 20px;
  border-radius: 50%;
  max-width: 200px;
  margin:0 auto;
}
.signin-popup {
}
.signinvia ul li .textbox-sign, .myprofile ul li {
  margin-bottom: 20px;
  border: 1px solid #b47c32;
  text-align: center;
  background: rgba(0,0,0,0.6);
  width: 100%;
  font-size: 13px;
  font-family: 'lora-regular',arial;
  height: 46px;
  letter-spacing: 2px; color: #fff;
}
.signin-popup-inner .follow-cat-btn {
  color: #b47c32;
}
.signin-popup-inner span {
  color: #fff;
  font-size: 12px;
}
.signin-popup-inner .continue-btn {
    width: 250px;
    height: 42px;
    border-radius: 3px;
    text-align: center;
    border: 0 none;
    text-transform: uppercase;
    color: #b1762a;
    font-family: 'opensans-reg',arial;
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 14%;
}
.signin-popup-inner .start-btn {
  margin-left: 10px;
  display: inline-block;
  font-size: 13px;
  margin-top: 0px;
  height: 48px;
}
.signinvia ul li, .myprofile ul li {
  list-style: none;
}
.signin-popup hr, .settings-con hr {
    border: 0; height: 2px;
    margin-bottom: 40px;
    background-image:linear-gradient(to right,rgba(180,124,50,0),rgba(180,124,50,0.75),rgba(180,124,50,0));
}
.myprofile ul li {
    border-radius: 3px;
    color: #b47c32;
    font-family: 'lora-regular', arial;
    padding: 13px;
}
.myprofile ul a {
  text-decoration: none;
}
.myprofile ul .accont-btn li {
  width: 56%;
  display: inline-block;
  margin-right: 3%; text-transform: uppercase; height: 50px;
}
.myprofile ul .logout-btn li {
  width: 40%;
  display: inline-block; text-transform: uppercase; height: 50px;
}
.myprofile ul {
  margin: 0 auto;
  padding: 0;
  float: none;
}
.signinvia h3, .settings-con h3 {
    color:#b47c32;
    font-size: 20px;
    text-align: center;
    font-family: 'lora-regular', arial;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.signinvia h3 a {
  color:inherit;
  text-decoration: underline;
}
.signinvia ul li a {
   font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: left !important;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'lora-regular', arial;
}
.signinvia ul li a:hover {
    text-decoration: none;
}
.signinvia ul li span {
    width: 30px;
    float: left;
}

.dropdown-menu {
  background-color: transparent;
    box-shadow: none;
    width: 100%;
    border-radius: 0px;
    border: 0 none;
    position: relative;
    transition: padding .5s;
}
nav .shrink {
  max-height: 50px; 
}
.shrink .main-logo img {
  max-width: 35%;
}
nav.smaller {
    height: 75px;
    transition: padding .2s;}
nav.smaller .main-logo img {
      max-width: 200px;
      transition: padding .2s;
       }
nav.smaller .dropdown-search {
   top: 75px;
   transition: all ease-in-out 0.3s;
}       
header.smaller nav a {
      line-height: 75px; }
.main-logo {
  text-align: center;
  padding-top: 1%;
}
.navbar-inverse {
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid #cfcfcf;
}
.search-collapse-btn {
  float: right;
  text-align: right;
}
.drop-search-wrap a.search-icon {
  transition: all 0.3s ease 0s;
  display: inline-block;
  padding: 0 !important;
  font-size: 20px;
  color: #86969C;
}
.dropdown-search {
    width: 100% !important;
    height: 70px;
    background-color: #b47c32;
    position: fixed;
    top: 100px;
    z-index: 999;
}
.form-control:focus {
  border: 0 none;
  box-shadow: none;
}
#searchform {
    margin: 0px;
    padding: 0px;transition: all 1s ease 0s;
}
.dropdown-search #searchform .search-field {
       width: 100% !important;
    height: 50px;
    border: 0 none;
    width: 100%;
    margin: 0;
    background-color: #b47c32;
    color: #fff;
    padding: 0;
    border-radius: 0px;
    transition: all 1s ease 0s;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 1.5%;
}
input[type="text"].search-field::-webkit-input-placeholder {
   color: #fff;
}
input[type="text"].search-field:-moz-placeholder { 
   color: #fff;  
}
input[type="text"].search-field::-moz-placeholder { 
   color: #fff; 
}
input[type="text"].search-field:-ms-input-placeholder {  
   color: #fff;
}
.main-menu .submenu li a {
  font-size: 75px;
  color: #fff;
  padding: 0;
}
.main-menu .submenu li a:hover {
  color: #b47c32;
}
.submenu li a span {

}
nav .drop-search-wrap, .navbar-right {
  text-align: right;
  padding-top: 2%;
}
.cat-expand-icons ul li {
  height: 81px; width: 71px;
}
.main-social-sectn ul, .cat-expand-icons ul {
  margin: 0 auto;
    display: block;
    text-align: center;
}
.main-social-sectn ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.cat-expand-icons ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.popup {
    left: 0px;
    margin: 0px auto;
    position: fixed;
    top: 0;
    display: none;
    z-index: 99999;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease 0s;
    background: rgba(0,0,0,0.9);
}
.myprofile h4 {
  font-family: "opensans-light",arial;
  font-size: 29px;
  margin-top: 30px;text-transform: capitalize;
}
.myprofile h5 {
  color: #696969;
  font-family: "opensans-light",arial;
  font-size: 18px;
}
.signin-popup, .settings-popup {
    right: 0px;
    margin: 0px auto;
    position: fixed;
    top: 0;
    display: none;
    z-index: 99999;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease 0s;
    background: rgba(0,0,0,0.8);
}
.popup-inner, .signin-popup-inner, .settings-inner, .comments-pop-inner, .img-comments-inner {
    background: transparent;
    display: block;
    margin: 0px auto;
    padding: 40px;
    position: relative;
    width: 95%;
}
.overlay {
  z-index: 1000;
  background: rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
       -webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;

}
a.close {
  background: url("../../content/images/icons/close_circle.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 42px;
    opacity: 1;
    position: absolute;
    left: 0px;
    text-indent: -2500px;
    top: 20px;
    width: 42px;
    background-size: cover;
  }
a.close:hover, a.close:focus {
  opacity: 1;
} 
.main-menu ul li a {
    color: #fff;
    font-size: 20px;
    font-family: 'lora-regular', arial;
    text-align: center;
    text-decoration: none;
    z-index: 999;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
.main-menu ul li a:hover, .main-menu ul li a:active, .main-menu ul li a:focus {
  color: #b47c32;
    background-color: transparent;
}
.main-menu ul li {
  list-style-type: none;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    float: none;
}
.main-menu {
  padding-top: 10%;
}
.main-logo img {
  margin: 0 auto;
}
.main-social-sectn {
  width: 100%;
  clear: both;
}
nav.smaller .header-collapse-btn, nav.smaller .drop-search-wrap, .navbar-right {
  padding-top: 25px;
  transition: padding .2s;
}
.settings-popup a.close {
  right: 0;
  left: auto;
}
@media only screen  and (max-width: 1366px) {
.navbar-inverse {
  max-height: 70px;
} 
.myprofile ul .logout-btn li,.myprofile ul li,.signinvia ul li .textbox-sign,.signin-popup-inner .start-btn,.signin-popup-inner .continue-btn {
  height: 40px;
}
ul.submenu li {
  width: 52px;
}
.main-menu .submenu li a {
    font-size: 54px; line-height: 0.1;
}
.navbar-right .signin-popup-btn img,.navbar-right .settings-popup-btn img {
    border-radius: 50%;
    max-width: 36px;
}
.myprofile ul .accont-btn li {
  margin-right: 1%;
  height: 40px;
}
.signinvia, .settings-con {
   padding-top: 5%;
}
.myprofile img {
  max-width: 150px;
} 
.main-logo img {
  max-width: 200px;
}
.header-collapse-btn img {
  max-width: 4px;
}
.navbar-right ul li {
  margin-left: 6px;
  margin-right: 6px;
}
.main-menu ul li a {
  font-size: 14px;
}
.dropdown-search {
  top: 70px !important;
  height: 50px;
}
.dropdown-search #searchform .search-field {
  padding-top: 0px;
}
.contact-pg-con h4 {
  font-size: 16px;
}
.assistance-img img {
  max-width: 21%;
}
}

@media only screen and (max-width: 768px) {
nav .drop-search-wrap, .navbar-right, .header-collapse-btn {
  padding-top: 3%;
}
.navbar-right {
  padding-left: 0px;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
.main-menu ul li a {
    font-size: 16px;
}
}
@media only screen and (max-width: 500px) and (min-width: 350px) {
  .main-logo {
    padding-top: 4%;
}
.privacy-text p {
  margin-bottom: 0px;
}
.privacy-pg-con .content_headline hr {
  margin-bottom: 0px;
}
.main-logo img {
    max-width: 165px;
    padding-top: 7px;
}
.drop-search-wrap {
    padding-top: 5% !important;
    padding-right: 0% !important;
}
.header-collapse-btn {
    padding-left: 5% !important;
    padding-top: 7% !important;
}
.navbar-right ul li {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-right img {
   max-width:80%;
}
.navbar-right ul, .navbar-right {
   padding-left: 0px;
    padding-right: 0px;
    padding-top: 6%;
}
.myprofile ul li {
  font-size: 11px;
}
}
