@font-face {
  font-family: 'opensans-light';
  src: url('../../fonts/OpenSans-Light.ttf') format('truetype');
  src: local('?'), 
       url('../../fonts/OpenSans-Light.otf') format('opentype'), 
       url('../../fonts/OpenSans-Light.woff') format('woff'), 
       url('../../fonts/OpenSans-Light.svg') format('svg');
}
@font-face {
  font-family: 'opensans-reg';
  src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
  src: local('?'), 
       url('../../fonts/OpenSans-Regular.otf') format('opentype'), 
       url('../../fonts/OpenSans-Regular.woff') format('woff'), 
       url('../../fonts/OpenSans-Regular.svg') format('svg');
}
@font-face {
  font-family: 'lora-regular';
  src: url('../../fonts/Lora-Regular.ttf') format('truetype');
  src: local('?'), 
       url('../../fonts/Lora-Regular.otf') format('opentype'), 
       url('../../fonts/Lora-Regular.woff') format('woff'), 
       url('../../fonts/Lora-Regular.svg') format('svg');
}
@font-face {
  font-family: 'opensans-semibold';
  src: url('../../fonts/OpenSans-Semibold.ttf') format('truetype');
  src: local('?'), 
       url('../../fonts/OpenSans-Semibold.otf') format('opentype'), 
       url('../../fonts/OpenSans-Semibold.woff') format('woff'), 
       url('../../fonts/OpenSans-Semibold.svg') format('svg');
}
@font-face {
  font-family: 'opensans-italic';
  src: url('../../fonts/OpenSans-Italic.ttf') format('truetype');
  src: local('?'), 
       url('../../fonts/OpenSans-Italic.otf') format('opentype'), 
       url('../../fonts/OpenSans-Italic.woff') format('woff'), 
       url('../../fonts/OpenSans-Italic.svg') format('svg');
}



body {
  padding: 0;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.nopadding {
  padding:0 !important;
  }
.nomargin {
    margin: 0 !important;
} 
.bg-white {
    background-color: #fff;
}   
.navbar-wrapper .navbar {
  border:0 none;
  }
.main_content, .brand-pg-con, .profile-pg, .contact-form, .aboutus-pg {
  width:100%;
  display:block;
  clear:both;
  padding:0;
  border-top:1px solid #cfcfcf;
  padding-top: 20px;
    padding-bottom: 50px;
  background:url(../../content/images/background-mainpage.jpg) repeat top left;
  }

.category-slider row {
  margin: 0;
}
.content_headline, .whats_new_content, .product-con-sectn, .product-posts-sectn, .content_headline-categorypg, 
.category-tab-panel, .basic-cat-info-inner, .hightlight-inner-con, .specs-con .panel-group, 
.spec-headline, .brand-tab-panel, .legacy-tagline, .content_headline2, .legacy-inner-con, 
.footer-inner, .tab-content, .legacy-sectn, .signinvia, .profile-pg-con, .search-pg-con, .privacy-pg-con, .contact-pg-con, 
.assistance-con, .contact-us-con, .signup-pg-con, .faq-pg-con, .aboutus-pg-con, .inner-con , .emblem-con {
  float:none;
  display:block;
  clear:both;
  margin:0 auto;
  text-align:center;
  overflow: auto;
  }
.whats_new_content {
  overflow: hidden;
} 
.content_headline h2,.content_headline-categorypg h2, .privacy-pg-con h2, .contact-pg-con h2, .signup-pg-con h2,
.faq-pg-con h3 {
  color:#313131;
  font-size:30px;
  font-family: 'lora-regular', arial;
  text-transform:uppercase;
  text-align:center;
  }

.content_headline hr, .product-reply-sectn hr, .content_headline-categorypg hr, .contact-pg-con hr, .signup-pg-con hr, 
.emblem-section hr {
  margin-top: 30px;
    margin-bottom: 60px;
    border-top: 2px solid #b47e36;
    width: 15%;
  }
.content_headline-categorypg hr {
    margin-bottom:0px;
}    
.category_content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-right: 2px solid #f0efef;
  } 
.category_content h1 {
  font-size: 12px;
    font-family: 'opensans-reg',arial;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0px;
    padding-top: 15px;
    text-align: left;
    position: relative;
    cursor: pointer;
    height: 50px;
    margin-bottom: 0px;
    width: auto;
    display: inline-block;
    text-align: left;
    float: left;
  }
.category_content h2 {
  font-size: 16px;
    font-family: 'lora-regular',arial;
    color: #000;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 20px;
    width: 100%;
    clear: both;
    overflow: hidden;
    font-weight: normal;
  }
.category_img, .brand-result-img, .brand-result-con, .profile-result-img {
  cursor:pointer;
  position:relative; 
  display: block;
    background-color: #fff;
  } 
.category_img:hover:after {
    content:'';
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-size: 50px;
  opacity:0.7;
  background-color: inherit;
}
.category_img:hover {
  background-color: inherit;
}
.wall {
  display: block;
  position: relative;
  overflow: initial;
}

.wall-column {
  display: block;
  position: relative;
  width: 25%;
  float: left;
  padding: 0 12px;
  box-sizing: border-box;
}
.category_img:hover .hover-content-cat, .banner-images:hover .banner-hover-con {
  opacity: 1;
  z-index:99; 
    color: inherit;
}
.category_img:hover img {
  opacity: 0.5;
  }   
.category_content p {
  color:#4f4f4f;
  font-size:13px;
  font-family: 'opensans-reg',arial;
  line-height:1.5;
  text-align:left;
  }

.hover-content-cat div {
  text-align: center;
    vertical-align: middle;
    width: 60px;
    margin: 0 auto;
    float: none;
    clear: both;
    line-height:1.5;
    /*padding-top: 13%; */
}
.hover-content-cat h4, .banner-hover-con h4 {
  color: #fff;
  font-size: 14px;
  margin-bottom:0px;
  font-family: 'opensans-light', arial;
}

.hover-content-cat:hover img, .hover-content-cat img {
  opacity: 1 !important;
} 

.whats_new_content_inner {
  padding-left:5px;
  padding-right:5px;
  } 
.category_options {
  display: block;
  position: relative;
    clear: both;
    background-color: #fff;
    border-bottom: 2px solid #f0efef;
    /* border-left: 2px solid #f0efef; */
    border-right: 2px solid #f0efef;
    border-top: 2px solid #f0efef;
    color: inherit;
  }
.category_options table {
    width: 100%;
}    
.category_img img {
  width:100%;
}
.cat-zoom-icon {
   display: block;
   margin: 0 auto;
   text-align: center;
   height: 50px;
   width: 50px;
   background: url(../../content/images/icons/img-normal-icon.png) no-repeat center center;
}
.cat-zoom-icon:hover {
  background: url(../../content/images/icons/img-hover-plus-icon.png) no-repeat center center;
}
.cat-zoom-icon span, .cat-plus-icon span {
  display: none;
}
.cat-minus-icon .fa-minus, .cat-plus-icon .fa {
    padding-top: 18px;
    font-size: 18px !important;
}
.cat-zoom-icon:hover span, .cat-minus-icon:hover span {
  display: block;
  font-size: 22px;
    font-weight: normal;
    padding-top: 15px;
}
.cat-plus-icon {
    background: url(../../content/images/icons/img-active-plus-icon.png) no-repeat center center;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 50px;
}
.cat-plus-icon:hover .fa-minus {
    display: block;
}
.cat-plus-icon:hover {
    background: url(../../content/images/icons/img-hover-minus-icon.png) no-repeat center center;
}
.cat-minus-icon {
  background: url(../../content/images/icons/img-hover-minus-icon.png) no-repeat center center;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 50px; transition: opacity 1s 1s ease;
}
.follow-btn, .follow-brand-btn {
   text-align: center;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid #fff;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'opensans-reg', arial;
}
.follow-brand-sectn .follow:hover {
    color: inherit;
    background-color: #fff;
}
.hover-content-cat a:hover {
    color: inherit;
}
.hover-content-cat a {
  text-decoration:none;
        color: inherit;
}
button.follow {
    background-color: transparent; color: #fff;z-index: 1;
}
.follow:hover + .follow-hover {
  display: block;
    background-color: #fff;
    position: absolute;
    top: 57%;
    left: 30%;
}
.follow-hover {
  display: none;background-color: #fff;
}

.following, .unfollow {
  background-color: transparent;
  color: #fff; z-index: 3; display: none;
}
.follow-brand-sectn .unfollow {
   background-color: transparent;
   color: #fff;
}
.unfollow {
  background-color: #fff;
  color: inherit; z-index: 3; display: none;
}
.following span, .unfollow span {
  padding-right: 3px;
}
.following span .fa, .unfollow span .fa {
  font-size: 12px;
}
.following-cat span {
    padding-right: 5px;
}
.following-cat {
    display: none;
}
.hover-content-cat img, .banner-hover-con img {
  width: auto;
}

.follow-status .unfollow {
  color: inherit;
    border-color: inherit;
}
/*.follow-status .following {
  color: #fff; border: 0 none;
}*/
.category_options table tr td {
  border-right: 1px solid #f0efef;
    width: auto;
    font-size: 13px;
    height: auto;
    color: inherit;
    cursor: pointer;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    min-width: 40px;
  }
.category_options table tr td:last-child {
  border-right:0px;
  } 
.category_options table tr td span {
  display:block;
  color: #4e4e4e;
  }
.cat_travel .fa {
    font-size: 15px;
    color: inherit;
}     
.category_options table tr td.crown-sectn {
    padding-top: 5px;
} 
.category_options table tr td span.fwd-icon {
    width: 25px;
    height: 16px;
}     
.category_options table tr td.date-status {
  color: #4e4e4e;
  } 
.category_options table tr td.crown-sectn:hover, .category_options table tr td span.fwd-icon:hover, .category_options table tr td span:hover {
  color: inherit;
}  
.date-status p {
  padding-top:5%;
}
.category_options table tr td span.icomoon {
    height: 18px;
}
.category_options table tr td:last child {
  border-right:0 none
  }
.follow-status button {
  border: 1px solid #cacaca;
    border-radius: 2px;
    padding: 0px;
    color: #919191;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'opensans-reg',arial;
    height: 32px;
    width: 110px;
    margin: 0 auto;
    background-color: transparent;
} 
td.crown-sectn:hover, td.crown-sectn:active, td.crown-sectn:focus, td.crown-sectn:after, .category_options tr td:hover {
  background-color: #f9f9f9;
}
td.crown-sectn:after + .like-icon {
  background: url(../../content/images/icons/like-icon-grey.png) no-repeat center center;
} 
.category {
  margin-bottom:20px;
  }   
.like-icon {
  display:block;
  width:25px;
  height:25px;
  margin:0 auto;
  } 
.share-icon {
  display:block;
  width:25px;
  height:25px;
  margin:0 auto;
  }
.fwd-icon {
  display:block;
  width:25px;
  height:25px;
  margin:0 auto;
  } 
.fwd-social-icons {
  width: 206px;
    height: 46px;
    position: absolute;
    top: 50px;
    right: -61%;
    z-index: 999;
    background-color: #fff;
}
.fb-fwd-icon:hover, .fb-fwd-icon:after, .fb-fwd-icon:active {
    background-color: #45629e;

}
.fb-fwd-icon:hover {
  background-position: 0 100%;
}
.fb-fwd-icon {
    background-image: linear-gradient(to top, blue 50%, white 50%);
}
.twitter-fwd-icon {
  background-image: linear-gradient(to top, #00acec 50%, white 50%) !important;
}
.gplus-fwd-icon {
  background-image: linear-gradient(to top, red 50%, white 50%) !important;
}
.fwd-social-icons td {
    width: 100%; height: 100%;
    background-size: 100% 200%;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s; 
}

.fb-fwd-icon span {
  background: url("../../content/images/icons/fb-icon-grey.png") center center;
}
.fb-fwd-icon:hover span {
  background: url("../../content/images/icons/fb-icon-white.png") center center;
}
.other-icons {
  background-color: #fff;
}
.cat-follow-popup {
  display: none;
  width:300px;
  height: 200px;
  padding:20px;
  position: absolute;
}
.category_content a {
  text-decoration: none;
        color: inherit;
}
.category_content a:hover {
    color: inherit;
}
.follow-status button:hover {
    color: inherit;
    border-color: inherit;
}
.category_content a.show-follow-popup:hover .cat-follow-popup {
    display: block; 
}
.social-box {
  width: 100%; height: 100%;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, white 50%, black 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}
.social-box:hover {
    background-position: 0 100%;
}
.tooltip  {
  display: none; color: #000;  background: #000; padding: 5px;
}
.cat-follow-popup h1 {
  float: none;
}
.category_content h1:hover .tooltip {
  display: block;
    text-align: center;
    position: absolute;
    z-index: 9999;
    height: 142px;
    border: 1px solid #e1e1e1;
    background-color: #f9f9f9;
    opacity: 1;
    padding-top: 11%;
    top: 50px;
    width: 105%;
    box-shadow: 1px 1px 3px #ccc;
    color: inherit;
    min-width: 240px;
    
}
.tooltip img {
  margin: 0 auto;
    max-width: 80%;
    float: left;
    padding-top: 10px;
}
.tooltip img.arrow {
  position: absolute;
    top: -22px;
    left: 9%;
}
.tooltip .img-part, .tooltip .follow-con {
  float: left;
  width: 50%;
}
.tooltip h1 {
  text-align: center;
    margin-bottom: 10px;
    height: auto;
}
.tooltip .follow-con {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.product_pg_tagline, .brand_pg_tagline, .profile-pg, .search-pg, .privacy-pg, .contact-pg, .signup-pg, .faq-pg {
  position: relative;
    margin-top: 10px;
    display: block;
    overflow: hidden;
    clear: both;
    padding-bottom: 30px;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
    background-color: #fff;
}
.product_pg_tagline {
  padding-top: 6%;
}
.product_pg_tagline h3 {
  text-transform: uppercase;
}
.product_pg_tagline h3, .product-reply-sectn h3, .category-pg-tag h3 {
  color: #464646;
    font-size: 28px;
    font-family: 'lora-regular', arial;
    text-align: center;
}
.product_pg_tagline hr {
  margin-bottom:30px;
}
.product-info span {
  padding-left: 5px;
    color: #404040;
    cursor: pointer;
}
.product-info label {
    font-size: 18px;
    color: #8f8f8f;
    font-family: 'opensans-light';
}
.product-info ul {
  margin: 0 auto;
    display: block;
    padding: 0;
}
.product-info ul li {
  display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
.product-slider {
  margin: 0 auto;
  float: none;
  display: block;
  clear: both;
  margin-top: 30px;
  margin-bottom:30px;
  overflow: hidden;
}
.product-con-sectn {
  clear: both;
}
.product-con-inner, .product-con-descriptn {
  margin: 0 auto;
    display: block;
    float: none;
}
.product-con-inner p, .product-con-descriptn p, .hightlight-text p, .legacy-tagline  p, .assistance-con p {
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
    font-family: 'opensans-reg', arial;
    color: #4f4f4f;
}
.product-con-sectn hr {
  margin-top: 30px;
    margin-bottom: 60px;
    border-top: 2px solid #000;
    width: 12%;
}
.pd-top {
  margin-top: 70px !important;
}
.product-posts-sectn {
  margin-top: 40px;
    margin-bottom: 40px;
}
.product-post {
  padding: 10px;
}
.fwd-social-icons ul.cat-follow-icons li, ul.follow-icons-more li {
    display: inline-block;
    list-style-type: none;
    width: 50px; float: left;
}
.fwd-social-icons ul.cat-follow-icons li a {
    /* background: #ccc; */
    background: url(../../content/images/icons/social_icons.png) no-repeat top left;
    width: 54px;
    height: 45px;
    display: inline-block;
    transition: all ease-in-out .3s;
}
ul.cat-follow-icons, ul.follow-icons-more {
  width: 100%;
  padding: 0;
}
ul.cat-follow-icons li a {
  }
ul.cat-follow-icons li a.fb {
  background-position: 0 0;
  }
ul.cat-follow-icons li a.twitter {
  background-position: -53px 0;
  }
ul.cat-follow-icons li a.insta{
  background-position: -106px 0;
  }
ul.cat-follow-icons li a.more {
  background-position: -159px 0;
  }
ul.cat-follow-icons li a.fb:hover {
  background-position: 0px -45px;
  }

ul.cat-follow-icons li a.twitter:hover {
  background-position: -53px -46px;
  }

ul.cat-follow-icons li a.insta:hover {
  background-position: -106px -46px;
  }

ul.cat-follow-icons li a.more:hover {
  background-position: -159px -47px;
  }
ul.follow-icons-more li {
  width: 51px;
} 
ul.follow-icons-more li a {
    /* background: #ccc; */
    background: url(../../content/images/icons/social_icons_2.png) no-repeat top left;
    width: 54px;
    height: 46px;
    display: inline-block;
    transition: all ease-in-out .3s;
} 
ul.follow-icons-more li a.linkdin {
   background-position: 0 0;
} 
ul.follow-icons-more li a.pini {
   background-position: -106px 0px;
}
ul.follow-icons-more li a.gplus {
   background-position: -53px 0px;
}
ul.follow-icons-more li a.linkdin:hover {
   background-position: 0px -46px;
} 
ul.follow-icons-more li a.pini:hover {
   background-position: -106px -46px;
}
ul.follow-icons-more li a.gplus:hover {
  background-position: -53px -46px;
}
.hidden-more-icons {
   width: 161px;
    height: 46px;
    position: absolute;
    right: -5px;
    top: 45px;
    display: none;
}
.static-sectn {
  position: fixed;
  top: 77%;
  right: -10px;
}
.static-sectn img {
  max-width: 50%; margin-bottom:20px;
}
/* product page thumbnail slider styling */
 .jssora05l, .jssora05r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../../content/images/slider-product/a17.png) no-repeat;
  overflow: hidden;
  }
.jssora05l-big, .jssora05r-big {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../../content/images/slider-product/a17_big.png) no-repeat;
    overflow: hidden;
    }
.jssora05l-big { background-position: -10px -40px;}
.jssora05r-big {background-position: -70px -40px;}
.jssora05l-big:hover {background-position: -130px -40px;}
.jssora05r-big:hover {background-position: -190px -40px}   
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
.jssort01 {
  position: absolute;
  /* size of thumbnail navigator container */
  width: 800px;
  height: 100px;
}

.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: 0 none;
    box-sizing: content-box;
    background: url(../../content/images/slider-product/t01.png) -800px -800px no-repeat;
    _background: none;
}

.jssort01 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 68px;
    height: 68px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}
.product-inner-social ul.follow-icons li {
    display: inline-block;
    list-style-type: none;
    float: left;
}
.product-inner-social ul.follow-icons li a {
  background: url(../../content/images/icons/product-social-icons.png) no-repeat top left;
    width: 54px;
    height: 47px;
    display: inline-block;
    transition: all ease-in-out .3s;
  }
.product-inner-social ul {
  margin: 0 auto;
  padding: 0;
}
.product-inner-social ul.follow-icons li a.facebook-follow {
  }

.product-inner-social ul.follow-icons li a.twitter-follow {
  background-position: -53px 0;
  }

.product-inner-social ul.follow-icons li a.instagram-follow {
  background-position: -106px 0;
  }

.product-inner-social ul.follow-icons li a.linkedin-follow {
  background-position: -159px 0;
  }

.product-inner-social ul.follow-icons li a.rss-follow {
  background-position: -212px 0;
  }
.product-inner-social ul.follow-icons li a.linkedin-follow:hover {
    background-position: -159px -46px;
    }
.product-inner-social ul.follow-icons li a.facebook-follow:hover {
  background-position: 0px -46px;
  }

.product-inner-social ul.follow-icons li a.twitter-follow:hover {
  background-position: -53px -46px;
  }

.product-inner-social ul.follow-icons li a.instagram-follow:hover {
  background-position: -106px -46px;
  }

.follow-content ul.follow-icons li a.linkedin-follow:hover {
  background-position: -159px -46px;
  }

.product-inner-social ul.follow-icons li a.rss-follow:hover {
  background-position: -212px -46px;
  }
.test-drive-btn {
  border: 0 none;
    height: 46px;
    color: #fff;
    margin: 0 auto;
    background-color: #f3732a;
    width: 100%;
    text-transform: uppercase;
    max-width: 250px;
    min-width: 180px;
    font-family: 'opensans-semibold', arial;
    font-size: 17px;
    display: block;
} 
.expand-slide-img {
    background: url(../../content/images/slider-product/expand-button.png) no-repeat top center;
    height: 45px;
    width: 100px;
    position: absolute;
    top: 92%;
    right: 20px;
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
}
.expand-slide-img:hover {
    background: url(../../content/images/slider-product/expand_hover.png) no-repeat top left;
    width: 100px;
    height: 45px;
    top: 92%;
}
.product-share-sectn h5 {
  text-align: left;
    font-family: 'opensans-reg',arial;
    font-size:15px;
}
.product-share-sectn {
  display: block;
    overflow: hidden;
    margin: 0 auto;
    float: none;
    margin-bottom: 50px;
    margin-top: 50px;
}
.product-post {
  background-color: #fff;
    margin-bottom: 30px;
    margin: 0 auto;
    display: block;
    float: none;
    overflow: hidden;
} 
.post-inner-con p {
  text-align: left;
    font-size: 14px;
    line-height: 1.5;
    clear: both;
    font-family: 'opensans-light';
    color: #4f4f4f;
} 
.post-inner-con ul li {
  display: list-item;
    margin-right: 28px;
    float: left;
    padding-top: 7px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: 'opensans-reg', arial;
    list-style-type: disc;
    color:#4f4f4f;
} 
.reply-con .reply-like {
    background: url(../../content/images/icons/like-icon-grey.png) no-repeat 100% 100%;
    width: 30px;
    display: inline-block;
    height: 15px;
    position: relative;
}
.reply-no a:clicked,.reply-no a:visited  {
    color: #b47e36;
}
.reply-con .reply-like:clicked {
    background: url(../../content/images/icons/like-icon-grey.png) no-repeat 100% 100%;
}
.full-width {
    width: 100% !important;
}
.post-inner-con ul {
  float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.reply-con a {
    color: #4f4f4f;
    font-size: 13px;
}
.reply-con a:hover {
    text-decoration: none;
}
.reply-con span img {
    margin-top: -4px;
    margin-left: 5px;
}
.post-inner-con .post-author {
    padding: 5px;
    color: #f4732b;
    float: right;
    font-size: 13px;
    font-family: 'opensans-reg', arial;
} 
.post-inner-con ul li.username {
  font-weight: bold;
  color: #4f4f4f;
  font-size: 13px;
} 
 .post-inner-con ul li.date-time {
   
    color: #9f9f9f;
    font-size: 13px !important;
}  
.reply-con {
  float: left;
  width: 100%;
  display: block;
  overflow: hidden;text-align: left;
}  
.product-reply-sectn {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden; float: none;
    margin-bottom: 30px;
}   
.textarea1 {
  width: 100%;
  min-height: 100px; border: 0 none;
} 
.post-comment-btn {
  background-color: #fff;
    border: 0 none;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    color: #757575;
    width: 50%;
    min-width: 200px;
    float: right;
    font-size: 14px;
} 
.mg-top{
  margin-top: 30px;
}
.reply-area {
  margin-bottom: 30px;
} 
.product-reply-sectn hr {
  margin-bottom: 35px;
} 
.breadcrumb ul li , .breadcrumb span {
   display: inline-block;
   list-style: none;
   font-size: 11px !important;
   text-align:left;
   color: #636363;
   padding-top: 15px;
   color:#757575;
} 
.breadcrumb ul {
  display: inline;
    padding: 0;
} 
.breadcrumb {
    padding: 0;
    background-color: transparent;
}
.breadcrumb a {
  text-decoration: none;
  color: inherit;
}
/* ends product page thumbnail slider styling */
/* category page styling */
.category-pg-con {
  border-top: 1px solid #cfcfcf;
  background-color: #f6f6f6;
}
.breadcrumb li:after {
    content: "/";
}
.breadcrumb li:last-child:after {
    content: "";
}
.category-pg-tag span {
  margin-right:10px;
}
.category-pg-tag h3 {
  display: inline;
    color:#464646;
}
.sub-cat-btn {
  width: 40%;
  height: 35px;
  border-radius:3px;
  padding: 5px;
  text-align: center;
  border: 0 none;
  text-transform: uppercase;
  color: #fff !important;
  font-family: 'opensans-reg',arial;
  margin-bottom: 10px;
  min-width: 150px;
  max-width: 200px;
  margin-top: 5px;
}
.category-pg-inner {
    margin: 0 auto;
    float: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
.follow-cat-btn {
  width: 40%;
  height: 35px;
  border-radius:3px;
  padding: 5px;
  text-align: center;
  border: 0 none;
  text-transform: uppercase;
  color: #fff !important;
  font-family: 'opensans-reg',arial;
  background-color: #464646;
  margin-bottom: 10px;
  min-width: 150px;
  max-width:200px;
    font-size: 12px;
}
.category-iconic img {
  max-width: 60px;
}
.hidden-cat-optns {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    clear: both;
    overflow: hidden;
    float: none;
}
.tagline-inner {
  clear: both;
    float: none;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.hidden-cat-optns ul {
  margin:0 auto;
  padding: 0; 
  text-align: center;
}
.hidden-cat-optns {
  display: none;
}
.hidden-cat-optns a {
  text-decoration: none;
}
.hidden-cat-optns ul li {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  list-style: none;
  display: inline-block;
}
.hidden-cat-optns ul li span {
  height: 100px;
  width: 100px;
  border-radius:50%;
  background-color: #efefef;
  display: block;
    margin: 0 auto;
}
.hidden-cat-optns img {
  margin-top: 34%;
}
.hidden-cat-optns h4 {
   text-align: center;
   text-transform: uppercase;
   color: #464646;
   font-size: 16px;
   font-family: 'lora-regular', arial;
   margin-top: 30px;
   background-color: transparent !important;
}
.category_pg .following {
    background: url("../../content/images/icons/tick_white.png") no-repeat 17px 13px #464646;
}
.category_pg .unfollow {
    background: url("../../content/images/icons/cross_white.png") no-repeat 17px 13px #464646;
}
.category-tab-panel, .brand-tab-panel {
    margin-top: 60px;
}
.category-tab-panel ul {

}
.category-tab-panel ul li, .brand-tab-panel ul li {
    list-style: none;
    display: inline-block;
    background-color: #fff;
    padding: 2px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #d7d7d7;
    margin-bottom: 10px;
    float: none;
}
.category-tab-panel ul li.active {
    background-color: #f26d20;
}
.category-tab-panel ul li a, .brand-tab-panel ul li a {
    color: #7d7d7d;
    font-size:16px;
    font-family: 'opensans-reg',arial;
}
.nav-pills>li.active>a, .category-tab-panel li a:hover, .category-tab-panel li a:focus,.nav-pills li a, 
.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
    background-color: transparent !important;
}
.basic-cat-info {
    border-top: 1px solid #e2e2e2;
    background-color: #fff;
}
.cat-navigation i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #b47e36;
}
.basic-cat-info .follow-list ul {
  margin: 0 auto;
    float: none;
    padding: 0;
}
.basic-cat-info .write-comment {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-bottom:0 none !important;
}
.basic-cat-info .fwd-social-icons {
  right: 0px;
  left: 56%;
  top: 53px;
  z-index: 999;
}
.basic-cat-info .follow-list table {
    height: 52px;
    margin: 0 auto;
}
.follow-list table tr {
  
}
.follow-list table tr td {
    border-left: 1px solid #e2e2e2;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 60px;
    cursor: pointer;
}
.follow-list table tr td:first-child {
    border: 0 none;
}
.follow-list table tr td span {
    display: block;
}

.cat-navigation div {
    float: left;
    width: 100px;
    padding-top: 15px;
    color: #8f8f8f;
    cursor: pointer;
}
.product-info span:hover .tooltip {
    display: block;
    text-align: center;
    position: absolute;
    z-index: 9999;
    height: 142px;
    border: 1px solid #e1e1e1;
    background-color: #f9f9f9;
    opacity: 1;
    padding-top: 11%;
    top: 50px;
    width: 105%;
    box-shadow: 1px 1px 3px #ccc;
    background-color: white;
}
.hightlight-text h5 {
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    padding-top: 15px;
    font-size: 16px;
    font-family: 'opensans-semibold', arial;
}
.hightlight-text p {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
}
.highlight-img  hr {
    border: 1px solid #dddddd;
    width: 45px;
    position: absolute;
    top: 15px;
    right: 7px;
}
.highlight-sectn2 hr {
    right: auto;
    left: 4px;
}
.overview-con  hr {
    margin-bottom: 0px !important;
}
.highlight-img hr.right {
    left: 7px;
    right: auto;
}
.highlight-sectn2 hr.right {
    right: 5px;
    left: auto;
}
.hightlight-inner-con, .specs-con {
    margin-top: 60px;
}
.legacy-tagline {
    margin-top: 40px;
} 
.highlight-img img {
    border: 10px solid #dddddd;
    border-radius: 50%;
    max-width: 80%;
}
.specs-con label {
    background-color: transparent;
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 10px;
    text-align: left !important;
    font-weight: normal;
    float: left;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'opensans-semibold', arial;
}
.spec-headline a {
    cursor: pointer;
    background-color: transparent !important;
    width: 10%;
}
.spec-headline a:hover, .spec-headline a i, .spec-headline a i:hover {
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: capitalize;
    color: #7d7d7d;
    font-family: 'opensans-reg', arial;
    cursor: pointer;
}
.specs-con label:hover {
    color: #7d7d7d;
    background-color: transparent;
    cursor: pointer;
}
.spec-headline label span {
    margin-right: 10px;
}
.specs-con table {
    border: 1px solid #d7d7d7;
    width: 100%;
}
.specs-con table tr {
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.specs-con table tr td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: capitalize;
    color: #7d7d7d;
    font-family: 'opensans-reg', arial;
}
.spec-headline {
    padding-top: 10px;
    background-color: #f5f3f4;
    border-bottom: 1px solid #d7d7d7;
}
.specs-con .panel-group {
      background-color: #fff;
      padding: 0;
      border-left: 1px solid #d7d7d7;
      border-right: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7;
}
.specs-con table tr td.right-col {
    text-align: right;
    padding-right: 50px;
}
.specs-con .panel-default {
    border: 0 none;
}
.specs-con .collapsed {
    background-color: #fff;
}
.content_headline2 h2 {
    color: #313131;
    font-size: 30px;
    font-family: 'lora-regular', arial;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
}
.content_headline2 hr {
    margin-top: 30px;
    border-top: 2px solid #b47e36;
    width: 15%;
    margin-bottom: 0px;
}
.legacy-tagline h5, .cxo-image h5 {
    font-family: 'opensans-italic', arial;
    text-align: right;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* category page styling ends */
/* Brand page styling starts */
.cxo-image h6 {
    font-style: italic;
    text-align: center;
    line-height: 1.5;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'opensans-reg', arial;
    font-weight: normal;
}
.legacy-con {
    overflow: hidden;
    float: none;
}
.cxo-image h5 {
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-family: 'opensans-reg', arial;
    font-weight: normal;
    font-style: normal;
}
.brand-pg .follow-list {
    margin:0 auto;
    float: none;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.legacy-innerimg1 img, .assistance-img img {
    margin: 0 auto;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.legacy-innerimg1 .brand-hover-img:hover span .text-content {
  opacity: 1;
}
.brand-img {
    margin: 0 auto;
    float: none;
    margin-top: 40px;
}
.brand_pg_tagline .brand-info {
    display: block;
    clear: both;
    width: 100%;
    float: none;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
}
.brand_pg_tagline .brand-name {
    padding-top: 10%;
}
.brand_pg_tagline .brand-follow {
    margin-top: 30px;
}
.brand-tab-panel ul li.active {
    background-color: #1c1c1c;
}
.legacy-images {
    margin-top: 30px;
    margin-bottom: 30px;
}
.legacy-text p,footer p {
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'opensans-reg', arial;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 15px;
}
.goto-web-btn {
    border: 0 none;
    height: 46px;
    color: #fff;
    margin: 0 auto;
    background-color: #000;
    min-width: 200px;
    text-transform: uppercase;
    float: left;
    width: 49%;
}
.query-btn {
    border: 0 none;
    height: 46px;
    color: #464646;
    margin: 0 auto;
    background-color: #fff;
    min-width: 200px;
    text-transform: uppercase;
    margin-left: 2%;
    width: 49%;
}
.brand-product-con .whats_new_content {
    padding-top: 60px;
}
.legacy-innerimg1 {
    cursor: pointer;
}
.legacy-innerimg1 .banner-hover-con {
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
}
.legacy-innerimg1:hover .banner-hover-con {
   visibility:visible;
}
.fwd-icon .fa {
    font-size: 18px;
    padding-top: 5px;
}
.fwd-icon .fa:hover {
    color: inherit;
}
/* Brand page styling ends */
/* footer styling starts */
footer {
    background-color: #f5f5f5;
}
footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    padding-top: 15px;
}
footer ul {
    margin: 0 auto;
}
footer ul li a {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'lora-regular', arial;
    text-decoration: none;
    color: #464646;
}
footer ul li a:hover {
    text-decoration: none;
}
footer p {
   text-align: center;
    font-style: italic;
    font-size: 12px;
    font-family: 'opensans-italic',arial;
    color:#464646;
}
/* footer styling ends */
/* sign in header styling*/
.signinvia {
    padding-top: 10%;
}
.signinvia ul {
    margin: 0 auto;
    max-width: 300px;
    min-width: 250px;
    padding:0;
    float: none;
}
.mySelect {
    padding: .2em 0;
    font-size: 1em;
    right: 0;
}
.signin-popup a.close {
    right: 0 !important;
    left: initial;
}
.signin-popup {
}
.signinvia ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #b47c32;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    background:rgba(0,0,0,0.6);
    cursor: pointer;
}
.signin-popup hr {
    border: 0; height: 2px;
    margin-bottom: 40px;
    background-image:linear-gradient(to right,rgba(180,124,50,0),rgba(180,124,50,0.75),rgba(180,124,50,0));
}
.signinvia h3 {
    color:#b47c32;
    font-size: 20px;
    text-align: center;
    font-family: 'lora-regular', arial;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.signinvia ul li a {
   font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: left !important;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'lora-regular', arial;
}
.signinvia ul li a:hover {
    text-decoration: none;
}
.signinvia ul li span {
    width: 30px;
    float: left;
}

/* profile page styling */
.profile-pg-con, .search-pg, .privacy-pg, .contact-pg, .signup-pg, .faq-pg {
    background-color: #f6f6f6;
    padding-bottom: 40px !important;
}
.profile-img {
    background-color: #fff;
}
.profile-info-con {
    overflow: hidden;
}
.profile-product-con .wall-column {
    width: 33.33%;
}
.profile-edit {
    background-color: #fff;
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.profile-edit span {
    float: right;
    width: 40px;
    height: 40px;
    vertical-align:middle;
}
.profile-descriptn {
    text-align: center;
    text-transform: capitalize;
    color: #171717;
    background-color: #fff;
}
.profile-descriptn h3 {
    margin-top: 0px;
    padding-top: 15px;
    font-family: 'opensans-light', arial;
    font-size: 29px;
    color: #161616;
}
.profile-descriptn h4 {
    font-family: 'opensans-light', arial;
    font-size: 18px;
    color: #161616;
}
.profile-descriptn h4 span {
   font-family: 'opensans-reg', arial; 
}
.profile-descriptn p {
    margin-top: 6px;
    font-family: 'opensans-light', arial;
    font-size: 14px;
    margin-bottom: 6px;
}
.profile-descriptn p span {
    text-transform:lowercase;
    font-size:12px;
}
.profile-descriptn label {
    width: 100%;
    display: block;
    background-color: #f6f6f6;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: 'opensans-semibold', arial;
    font-size: 14px;
}
.profile-descriptn hr {
    border-top: 2px solid #d9d9d9;
    min-width: 40px;
    width: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-descriptn span {
    margin-left: 5px;
    margin-right: 5px;
}
.profile-gallery .wall-column {
    width: 33.33%;
    padding: 0;
}
.profile-descriptn ul, .profile-tab-panel ul {
    padding: 0;
    margin: 0 auto;
    margin-top: 15px;
}
.post-status .icon-send {
  font-size: 25px;
}
ul.profile-social li, .profile-tab-panel ul li {
    list-style: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
ul.profile-social li span i {
    color: #ababab;
    font-size: 25px;
}
.brand-tab-panel {
    margin-top: 40px;
    margin-bottom:30px;
    display: block;
}
.profile-tab-panel  {
    margin-bottom: 30px;
    margin-top: 30px;
}
.profile-tab-panel ul li.tab1, .profile-tab-panel ul li.tab2 {
    padding: 6px;
    margin: 0 auto;
    width: 12%;
    margin-right: 2%;
    min-width: 80px;
}
.profile-tab-panel ul li {
    background-color: #fff;
    height: 60px;
    border-radius: 5px;
}
.profile-tab-panel span {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
.profile-tab-panel span.home-icon {
    background: url(../../content/images/timeline/home_gold.png) no-repeat 50% 50%;
}
.profile-tab-panel .active span.home-icon {
    background: url(../../content/images/timeline/home_white.png) no-repeat 50% 50%;
}
.profile-tab-panel span.timeline-icon {
    background: url(../../content/images/timeline/timeline-gold.png) no-repeat 50% 50%;
}
.profile-tab-panel .active span.timeline-icon {
    background: url(../../content/images/timeline/timeline_white.png) no-repeat 50% 50%;
}
.profile-tab-panel ul li.upload-sectn {
    width: 70%;
}
.profile-tab-panel ul li .textbox1 {
    border: 0 none;
    width: 75%;
    height: 100%;
    overflow: hidden;
    padding-left: 20px;
    border-radius: 5px;
    margin-left: 0px;
    float: left;
    min-width: 300px;
    font-size: 16px;
    font-family: 'opensans-light', arial;
}
.profile-tab-panel ul li.active {
    background-color: #b1762a;
}
.upload-sectn span {

}
.upload-sectn a {
    color: #cacaca;
    font-size: 20px;
    overflow: hidden;
    width: 10%;
    height: 100%;
    float: left;
    min-width: 70px;
    padding-top: 3% !important;
}
.timeline-status, .profile-following {
    background-color: #fff;
    padding-bottom: 10px;
}
.timeline-status .profile-main, .profile-reply .profile-main, .profile-upload-img .profile-main, 
.profile-status-update .profile-main, .profile-status .profile-main {
    padding: 10px;
    overflow: hidden;
    padding-bottom: 0px;
    color: #696969;
}
.profile-status {
  background-color: #fff;
}
.timeline-status hr {
    border-top: 2px solid #efefef;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.timeline-status p , .profile-reply p, .profile-status-update p, .profile-main-con h4 {
    color: #696969;
    font-size: 18px;
    text-align: left;
    font-family: 'opensans-light', arial;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.3;
}

.profile-main h6, .hidden-status h6 {
    font-family: 'opensans-light', arial;
    display: inline-block;
    font-size: 14px;
    float: left;
}
.profile-main span.profile-angle, .hidden-status span.profile-angle {
    float: right;
    padding-top: 6px;
}
.profile-main .fa-angle-down, .hidden-status .fa-angle-down {
    font-size: 20px;
    text-align: right;
}
.profile-main span, .profile-reply span, .profile-upload-img span, .profile-status-update span, .hidden-status span, .write-comment span {
    float: left;
    margin-right: 10px;
}
.timeline-status .comment-sectn {
    display: block;
    overflow: hidden;
    font-family: 'opensans-light', arial;
}
.timeline-status .comment-sectn input {
    padding-left: 10px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 35px;
    border: 0 none;
    border-bottom: 1px solid #ccc;
    min-width: 100px;
}
.timeline-status .comment-sectn input:focus {
    border-bottom: 1px solid #ccc;
    border-left: 0 none;
    border-top: 0 none;
    border-right: 0 none;
}
.timeline-status .comment-sectn input[type="text"]:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid #000;
}
.timeline-status .comment-sectn .fa-reply {
    font-size: 16px;
    padding-top: 6px;
}
.profile-following, .profile-reply, .profile-upload-img, .profile-status-update {
    float: left;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
}
.profile-following .add-follow {
    float: left;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 10%;
    min-width: 30px;
    padding-top: 5%;
}
.profile-following .heading {
    float: left;
    padding-left: 10px;
    font-size: 14px;
    font-family: arial;
    width: 87%;
    color: #696969;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-reply .profile-main span, .profile-upload-img .profile-main span, .profile-status-update .profile-main span {
    padding-top: 10px;
}
.profile-following {
    padding:10px;
    margin-top: 20px;
}
.post-inner-con ul li.diamond {
    font-size: 12px;
    text-align: left;
    padding-top: 9px;
}
.profile-main-con {
  padding-bottom: 10px;
}
.hidden-status {
  background-color:#fcfcfc;
  padding-top:5px;
  padding-bottom:5px;
  overflow: hidden;
}
.write-comment {
  padding: 5px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
.write-comment .icon-reply {
    font-size: 20px;
    vertical-align: middle;
    padding-top: 5%;
    margin-right: 0px;
    color: #4e4e4e;
    float: right;
}
.commentbox {
    min-width: 150px;
}
.commentbox input, .commentbox input:focus {
  border:0 none; outline: none;
  width: 100%;
}
.commentbox a {
    border-bottom: 2px solid #d6d6d6;
    position: relative;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  
}
.commentbox a:before {
  content:"";
  height:9px;
  width:2px;
  position:absolute;
  display:block;
  background-color:#d6d6d6;
  left:0;
  bottom:0;
}
.commentbox a:after {
  content:"";
  height:9px;
  width:2px;
  position:absolute;
  display:block;
  background-color:#d6d6d6;
  right:0;
  bottom:0;
}
.follow-profile-btn {
  color: #fff;
  text-align: center;
  padding: 6px;
  background-color: #000;
  width: 42%;
  margin: 0 auto;
  display: block;
  border: 0 none;
  font-family: "opensans-semibold",arial;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 120px;
}
.try-now-con form, .sendquery-form form, .contact-form form {
  margin: 0 auto;
  float: none;
  clear: both;display: block;
  max-width: 600px;
  color: #adadad;
  font-family: "opensans-semibold",arial;
}
.sendquery-form form textarea, .contact-form form textarea {
  min-height: 90px;
  padding-top: 10px;
}
input:-webkit-autofill {
  background-color: transparent;
}
.try-now-con form p, .sendquery-form p, .contact-form p {
  font-size:16px;
  padding-left:10px; color: #adadad;
}
.try-now-con .textbox, .sendquery-form .textbox, .contact-form .textbox {
    padding-left: 10px;
    height: 49px;
    font-size: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 0 none;
    float: left;
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #fff;
    font-family: "opensans-semibold",arial;
}
.try-now-con label, .sendquery-form label {
  color:#adadad;
  font-family: "opensans-semibold",arial;
  font-size: 25px;
  margin-bottom:20px;
  text-align: center;clear: both; display: block;
}
.textbox2 {
  width: 48% !important;
}
.textbox3 {
  width: 54% !important;
  background: url(../../content/images/trynow/calender-icon.png) 97% 58% #fff no-repeat;
}
.textbox4 {
  width: 25% !important;
  background: url(../../content/images/trynow/clock-icon.png) 97% 58% #fff no-repeat;
}
.textbox5 {
  width: 15% !important;
}
.try-now-submit, .contact-submit {
  width: 98%;
  height: 50px;
  border-radius:3px;
  border: 0 none;
  color: #fff !important;
  font-family: 'opensans-reg',arial;
  background-color: #464646;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  display: block;
  font-size: 20px;
}
.try-now-con, .sendquery-form {
  padding-top:20px;
  padding-bottom:20px;
  background-color: #e3e3e3;
}
.profile-gallery .wall-item img {
  width: 100%;
}

/* profile page styling ends */
/*search page styling */
.brand-result-img, .profile-result-img {
    padding-top: 35px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
}
.brand-result-img img, .profile-result-img img, .profile-main-con img, .profile-img img {
  margin: 0 auto;
}
.profile-main-con img, .profile-img img {
  width: 100%;
}
.search-tagline {
  margin-top: 5%;
  padding-bottom: 20px;
}
.search-pg h5, .profile-result-img h6  {
    font-size: 16px;
    font-family: 'opensans-reg',arial;
    color: #4e4e4e;
    line-height: 1.2;
    text-align: left;
    padding-left: 20px;
}
.brand-result-con span {
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'opensans-light',arial;
}
.profile-result-img span {
  text-transform: capitalize;
  margin-bottom: 0px;
}
.profile-result-img h6 {
    margin-bottom: 20px;
    text-align: center;
}
.profile-result-img .follow-profile-btn {
  border-radius:4px;
}
/*search page styling ends */
/*privacy page styling */
.privacy-pg-con, .contact-pg-con, .signup-pg-con, .faq-pg-con, .aboutus-pg-con {
  margin-top: 3%;
}
.privacy-pg-con h2, .signup-pg-con h2, .faq-pg-con h3,, .aboutus-pg-con h3 {
  letter-spacing: 4px;
}
.privacy-text {
  display: block;
  margin-top: 20px;
}
.privacy-text p {
  font-size: 12px;
  text-align: justify;
  font-family: 'opensans-reg',arial;
  line-height: 2; color: #4f4f4f;
  margin-bottom: 30px;
}
.privacy-pg-con hr {
  margin-bottom:25px;
}
.privacy-pg-con h4 {
  font-size: 18px;
  font-family: 'lora-regular', arial; color: #4f4f4f;
}
/*privacy page styling ends  */
/*contact us page styling */
.contact-pg-con hr {
  margin-bottom: 9%;
}
.contact-pg-con h4 {
  font-size: 18px;
  font-family: 'opensans-reg',arial;
}
.contact-pg-con h3, .contact-us-con h3 {
    font-size: 24px;
    margin-top: 25px;
    font-family: 'opensans-reg',arial;
    margin-bottom: 25px; color: #4f4f4f;
}
.assistance-con, .contact-us-con {
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact-pg-con hr.grey, .contact-us-con hr {
  margin-top: 20px;margin-bottom: 30px;
    border-top: 2px solid #b0b0b0;
    width: 50px;
}
.assistance-img {
  margin-bottom: 20px;
  width: 100%;
}
.contact-submit {
  background-color: #000;
}
.contact-form form {
  margin-bottom: 4%;
}
/*contact us page styling ends */
/*profile sign up page styling */
.profile-leftbar {
  font-family: 'lora-regular', arial;
}
.profile-leftbar ul {
  padding-left: 0px;
}
.profile-leftbar ul li {
    list-style: none;
    background-color: #b1762a;
    color: #fff;
    line-height: 1.5;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    text-align: left;
}
.profile-leftbar ul li span {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    padding-top: 5px;
}
.profile-leftbar ul li ul {
  padding-left: 0px;
  margin-bottom: -15px;
  padding-top: 10px;
}
.profile-leftbar ul li ul li {
    color: #a6a6a6;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #a6a6a6;
    padding-right: 10px;
}
.profile-leftbar a, .profile-leftbar a:hover {
  color:inherit;
  text-decoration: none;
}
.profile-leftbar ul li.active {
  background-color: #000;
}
.profile-leftbar ul li ul li:last-child {
    border:0 none;
}
.profile-rightbar {
  font-family: 'opensans-light', arial;
  text-transform: uppercase;
}
.profile-rightbar section {
    width: 100%;
    clear: both;
    overflow: hidden;
    position: relative;
    min-height: 700px;
}
.profile-rightbar section .section-inner {
  padding-left: 15%;
  padding-right: 15%;
  display: block;
  overflow: hidden;
}
#intro .section-inner {
  padding-top: 22%;
}
.start-btn {
    border-radius: 5px;
    background-color: #b1762a;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    width: 200px;
    border: 0 none;
    font-size: 20px;
    text-transform: uppercase;
}
.btn-scroll, .btn-scroll:hover {
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    background: #b1762a none repeat scroll 0 0;
    border-radius: 100% !important;
    bottom: 20px;
    color: #fff;
    font-size: 30px;
    height: 50px;
    margin-top: 20%;
    padding: 7px 15px;
    position: relative;
    transition: background 0.3s ease-in-out 0s;
    width: 50px;
}
#sidebar { 
}
.product-con-inner p {
  text-align: justify;
}

.btn-circle i.animated {
    transition-duration: 1s;
    transition-property: -moz-transform;
}
.btn-circle i {
    line-height: 0.85;
    vertical-align: top;
}
.questions-con  {
}
.questions-con h3 {
    font-size: 20px;
    color: #7a7a7a;
    clear: both;
}
.options-con ul {
    padding: 0;
    margin: 0 auto;
    margin-top: 4%;
    display: block;
    overflow: hidden;
}
.options-con ul li {
  list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
}
.smart-follow-con ul li {
  padding:0;
  margin: 0 auto;
}
.smart-follow-con ul li label {
    padding: 0 !important;
    border: 0 none !important;
    background-color: transparent !important;position: relative;cursor: pointer;
    margin-bottom: 0px;height: 100%; width: 100%;
}
.smart-follow-con ul li label span {
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 41%;
}
.cat-overlay-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.cat-overlay-bg:not(:hover) {
    background-color: rgba(0,0,0,0.5) !important;
}
.category-check .cat-overlay-bg:hover {
  opacity: 0.8;
}
.check1:checked + .cat-overlay-bg .ddd, .check1:not(:checked) + .cat-overlay-bg .activated{
  display: none;
}

.smart-follow-tag i {
  margin-right: 5px;
}
.smart-follow-con ul li label span.activated {
  font-size: 30px;top: 35%;
}
.smart-follow-con ul li label span .fa {
  font-size: 30px;
}
.questions-con .mg-bottom {
  margin-bottom: 5%;
}
.questions-con a:hover {
  text-decoration: none;
}

.options-con input[type="radio"], .options-con input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer;top: 0px;
    margin: 0;
}
#intro {
  min-height: 500px;
}
#ques1 .section-inner {
  padding-top: 25%;
}

#ques7 .section-inner {
  padding-top: 30%;
}
#ques2 .section-inner {
  padding-top: 35%;
}
#ques3 .section-inner {
  padding-top: 32%;
}
#ques3 .btn-scroll {
  margin-top: 10%;
}
/
#ques1 .btn-scroll {
  margin-top: 11%;
}
/* style your lables/button */
.options-con input[type="radio"] + label, .options-con input[type="checkbox"] + label, .options-con label {
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    min-width: 150px; 
    background: #fff;
    color: #464646; 
    border: 1px solid #fff;
}
.options-con input[type="radio"]:checked + label, .options-con input[type="checkbox"]:checked + label, 
.options-con label input[type="checkbox"]:checked {
   border:1px solid #b1762a;
}
.options-con ul.textboxes li {
    width: 48%;
    margin: 0 auto;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
.options-con ul.textboxes li.dob {
    margin: 0 auto;
    width: 60%;
    display: block;
    float: none;
}
.options-con ul.textboxes li.dob2 {
    margin: 0 auto;
    width: 94%;
    display: block;
    float: none;
}
.signin-textbox {
    border: 0 none;
    background-color: #fff;
    padding: 15px 18px 15px 18px;
    width: 100%;
}
.givepadding {
  padding-top: 40%;
}
.sub-cat-btn span {
  margin-right: 5px;
}
.smart-follow-banner {
  position: relative;
}
.smart-follow-banner .smart-follow-tag {
  position: absolute;
  top: 35%;
  color:#fff;
  font-size: 20px;
  width: 100%;cursor: pointer;
}
/*profile sign up page styling ends */
/*faq page styling */
.faq-questions {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
  padding-right:25px;
}
.faq-questions span {
  font-size: 18px;
  color: #4f4f4f;
  line-height: 1.4;
}
.faq-section, .emblem-tag {
  position: relative;
  padding-bottom: 10%;
}
.faq-section .markup {
  position: absolute;
  height: 5px;
  width: 25px;
  top: 22px;
  right: -14px;
}
.faq-section .faq-start {
  position: absolute;
  right: -10px;
  top: -20px;
}
.load-more-faq {
  position: absolute;
  right: -57px;
  width: 130px;
  background-color: #b0772a;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 14px;
  bottom: 0px;
  z-index: 111;
}
.load-more-faq a {
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
}
.faq-section .markup hr {
  border-top: 1px solid #b47e36;
}
.faq-ans {
  border-left: 2px solid #b0772a;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  padding-left: 25px;
}
.faq-ans p {
  line-height: 2;
  font-size: 14px;
  font-family: 'opensans-reg', arial;
  color: #4f4f4f;
}
/*about us page styling */
.aboutus-pg-con h2 span {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 5%;
    vertical-align: middle;
}
.aboutus-pg-con {
  color: #313131;
  font-family: 'lora-regular', arial;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}
.aboutus-pg-con h5 {
  font-size: 23px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-left: 10px;
  margin-top: 9%;
  line-height: 1.7;
  float: none;
  display: block;
}
.aboutus-pg-con h2 {
  margin-top: 10px;
  font-size: 47px !important;
  margin-top: 0px;
}
.aboutus-pg-con .inner-text p {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'opensans-reg', arial;
  color: #4f4f4f;
  text-transform: initial;
}
.aboutus-pg-con .divider-sectn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.aboutus-pg-con .divider-sectn img, .ending img {
  margin: 0 auto;
}
.emblem-tag div {
  position: absolute;
  top: 8%;
}
.emblem-tag .left-curl {
  left: -10%;
}
.emblem-tag .right-curl {
  right: -10%;
}
.emblem-con, .aboutus-pg-con  {
  overflow: inherit;
}
.emblem-con h5 {
  text-transform: initial;
}
.emblem-section p {
  text-align: justify;
  font-size: 14px;
  text-transform: initial;
  font-family: 'opensans-reg', arial;
  color: #4f4f4f;
  line-height: 1.5;
}
.emblem-section h5 {
  margin-top: 0px;
  text-transform: uppercase;
}
.emblem-section {
  margin-bottom: 150px; position: relative;
}
.emblem-con .left-inner h5 {
  text-align: left;
  padding-left: 0px;
}
.emblem-con .right-inner h5 {
  text-align: right;
}
.emblem-con .left-inner hr {
  margin-left: 3px;
  width: 150px;     margin-bottom: 40px;
}
.emblem-con .right-inner hr {
    margin-right: 3px;
    width: 150px;     margin-bottom: 40px;
}
.emblem-con .right-inner hr {
  margin-right: 3px;
  width: 150px;
}
.ending img {
  margin-bottom: 80px;
}
.emblem-con .left-inner .emblem-img {
  left: -16%;
}
.emblem-con .right-inner .emblem-img {
  right: -16%;
}
.emblem-con .emblem-img {
  position: absolute;
  top: -28%;
}
@media only screen  and (max-width: 1300px) {
.profile-tab-panel ul li.upload-sectn {
    width: 69%;
}
.upload-sectn a {
    width: 50px;
    min-width: initial;
}
.givepadding {
    padding-top: 23%;
}
.profile-rightbar section {
  height: 500px;
}
.write-comment span {
  margin-right: 3px;
}
.commentbox input {
  width: 84%;
}

}
@media only screen  and (min-width: 1650px) {
.banner-images img {
  max-width: 100%; max-height: 100%;
}

} 
@media only screen  and (min-width: 1400px) {
.category_img img {
  width: 100%;
}
.signinvia ul li a {
    font-size:16px;
}
.fwd-social-icons {
    right: -39%;
    top: 54px;
}
.category_img, .category_img img {
    min-height: 250px;
}
.category-iconic img {
    max-width: 100px;
}
.banner-hover-con h4 {
    font-size:19.2px;
    padding-left: 10%;
    padding-right: 10%;
}
.hover-content-cat h4, .follow-btn {
    margin-top: 8%;
}
.category_content h1:hover .tooltip {
    min-width: 332px;
}
.dropdown-search #searchform .search-field {
    height: 80px;
}
.hover-content-cat h4, .product-con-inner p,
 .product-con-descriptn p, footer p, 
 .category-tab-panel ul li, .brand-tab-panel ul li, .test-drive-btn, .post-comment-btn, 
 .specs-con table tr td, .cxo-image h5 {
    font-size: 16px;
}

.legacy-tagline p, .legacy-text p, .legacy-tagline h5, .product-con-inner p, .product-con-descriptn p, .assistance-con p {
    font-size:18px;
}
.product_pg_tagline h3, .product-reply-sectn h3, .category-pg-tag h3, .content_headline h2, .content_headline-categorypg h2, 
.privacy-pg-con h2, .contact-pg-con h2, .signup-pg-con h2, .faq-pg-con h3  {
    font-size: 32px;
}
.hightlight-text h5, .specs-con label, .specs-con label:hover {
    font-size: 18px;
}
.hightlight-text p,.post-inner-con p {
    font-size:15px;
}
.main-menu ul li a {
    font-size: 20px;
}
.breadcrumb ul li, .breadcrumb span, .post-inner-con ul li.date-time {
    font-size: 14px;
}
.cxo-image h5 {
    font-size: 17px;
}
.category_options table tr td, .cxo-image h6, .post-inner-con ul li.username, .post-inner-con ul li, .reply-con a {
    font-size: 16px;
}
.content_headline2 h2 {
    font-size:36px;
}
.product-info ul li, .main-social-sectn {
    margin-top: 30px;
    font-size: 22px;
}
.goto-web-btn, .query-btn {
    font-size: 17px;
    font-family: 'opensans-semibold', arial;
}
.category-tab-panel ul li, .brand-tab-panel ul li {
    width: 200px;
}
.test-drive-btn {
    max-width: 300px;
    padding: 13px;
}
.main-menu ul li {
    margin-bottom: 20px;
}
.specs-con table tr td {
    padding-top: 15px;
    padding-bottom: 15px;
}
.tooltip {
    padding-top: 5% !important;
    height: 155px;
}

.follow-cat-btn, .sub-cat-btn {
    max-width: 300px;
    height: 50px;
}
.product-inner-social ul.follow-icons li a {
    background: url(../../content/images/icons/product-social-icons-big.png) no-repeat top left;
    width: 68px;
    height: 63px;
}
.product-inner-social ul.follow-icons li a.facebook-follow:hover {
    background-position: 0px -62px;
}
.product-inner-social ul.follow-icons li a.twitter-follow:hover {
    background-position: -69px -62px;
}
.product-inner-social ul.follow-icons li a.twitter-follow {
    background-position: -69px 0;
}
.product-inner-social ul.follow-icons li a.instagram-follow {
    background-position: -140px 0;
}
.product-inner-social ul.follow-icons li a.instagram-follow:hover {
    background-position: -140px -62px;
}
.product-inner-social ul.follow-icons li a.linkedin-follow {
    background-position: -211px 0;
}
.product-inner-social ul.follow-icons li a.linkedin-follow:hover {
    background-position: -212px -62px;
}
.product-inner-social ul.follow-icons li a.rss-follow {
    background-position: -282px 0;
}
.product-inner-social ul.follow-icons li a.rss-follow:hover {
    background-position: -284px -62px;
}
.goto-web-btn, .query-btn {
    height: 62px;
    width: 46%;
}
.test-drive-btn {
    height:63px;
}
.query-btn {
    margin-left: 7%;
}

}     
@media only screen and (max-width: 1650px) and (min-width: 1350px) {
}
@media only screen and (max-width: 850px) and (min-width: 650px) {
.content_headline h2 {
  font-size: 24px;
  }
.category_content h2 {
  font-size:14px;
  } 
}
@media only screen and (max-width: 768px) {
.main-slider .slider-sections {
  width: 25%;
}
.main-slider .sectn5 {
  display: none;
}
.product-posts-sectn {
  padding: 0;
}
.category-pg-tag {
  margin-bottom: 20px;
} 
.category-tab-panel ul li {
    width: 130px;
}
.brand-info img {
    margin: 0 auto;
}
.product-inner-social ul.follow-icons li, .goto-web-btn {
    float: none;
    margin-bottom: 20px;
}
.product-inner-social ul {
    text-align:center;
}
.brand-pg .btn-sectn {
    text-align:center;
}
.wall-column {
    width:50%;
  }
footer ul li a {
    font-size: 13px;
}
footer p {
    font-size: 12px;
}
.content_headline2 h2 {
    font-size: 24px;
}
.sectn5 {
    display: none;
}
.profile-product-con .wall-column {
    width: 50%;
}
.faq-section .faq-start {
  left: -10px;
  right: auto;
}
.load-more-faq {
  margin: 0 auto;
  position: relative;
  right: auto;
  top: auto;
}
}
 @media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
.content_headline h2 {
   font-size: 20px;
}
.product-inner-social ul.follow-icons li {
    float: none;
}
.main-slider-container {
  margin-top: 50px;
}
.hover-content-cat h4, .banner-hover-con h4 {
  font-size: 12px;
}
.brand-tab-panel ul li {
    width: 106px;
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;    
}
.footer-inner div, footer ul, .legacy-images div {
    padding: 0;
}
.legacy-images div, .product-share-sectn h5 {
    margin-bottom: 20px;
}
.goto-web-btn {
    width: 80%;
    display: block;
    float: none;
}
.profile-product-con .wall-column {
    width: 100%;
}
.follow-cat-btn {
    font-size:11px;
}
footer p {
    margin-bottom:0px;
}
.product-info label {
    font-size:14px;
}
footer ul li {
    margin-top:0px;
    margin-bottom:20px;
}
.brand-tab-panel {
    margin-bottom:0px;
}
.wall-column {
  width: 100%;
}
.content_headline, .product-con-inner  {
  padding: 0;
}
.product_pg_tagline {
  margin-top: 10px;
}
.product-con-inner p {
  text-align: justify;
}
.category-tab-panel ul li {
  padding: 0;
  width: 100px;
  margin-left:0px;margin-right:0px;
}
.header-collapse-btn {
  width: 18%;
}
.navbar-right {
  width: 32%;
}
.fwd-social-icons {
  top: 45px;
  right: 0%;
}
.category_content h1:hover .tooltip {
  height: 124px;
  min-width: 289px;
}
.tooltip h1 {
  width:100%;
}
.product-carousel-inner .slides-part span i {
  font-size: 30px;
}
.product-carousel-inner .thumnails-part span i {
  font-size: 20px;
}
.faq-questions {
  border-left: 2px solid #b0772a;
  text-align: left;
  padding-right: 0px;
  padding-left:40px;
  padding-bottom: 10px; 
}
.faq-section .markup {
  left: 0px;
  right: auto;
}
.faq-ans {
  padding-top:0px;
  padding-left: 40px;
}
}
@media only screen and (max-width: 350px) and (min-width: 320px) {
.content_headline h2 {
   font-size: 18px;
}
.category_content h2 {
  font-size:12px;
  }
.category_options table tr td {
  font-size:9px;
  } 
.brand-tab-panel ul li {
    width: 106px;
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;  
    padding: 1px;    
}
.brand-tab-panel, footer ul, footer div {
    padding: 0;
}
.content_headline2 h2 {
    font-size: 20px;
}
.profile-product-con .wall-column {
    width: 100%;
}
}
                  